body {
  font-family: sans-serif;
  height: 3000px;
  background: linear-gradient(0deg, #001318 0%, #006882 50%, #88e7ff 100%);
}

.title {
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  display: block;
  text-align: center;
  font-size: 30pt;
  color: #0f580a;
}

.information .generalContainer {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.generalContainer {
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  border-radius: 50%;
  text-align: center;
  width: 300px;
  height: 300px;
  background-color: #0f580a; /* eventually, this will be on top of a seaweed image, but the color helps visualize the structure for now */
  position: relative;
  overflow: hidden;
}

#general {
  transform:translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  padding-bottom: 20px;
  line-height: 1.5;     /* adjust line height & width to get good fit */
  width: 250px;
  color: #9fe470;
}

.bubbleText {
  width: 200px;
}

#stemClick {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 900px;
  width: 40px;
  height: 100px;
  background-color: red;
}

#holdfastClick {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50px;
  height: 40px;
  background-color: red;
}

.clickHere {
  font-size: 20pt;
  color: white;
  font-weight: bold;
  border-style: solid;
  border-color: black;
  padding: 5px;
  border-radius: 10px;
  background-color: #0f580a;
  width: 140px;
}

#indicator1 {
  float: right;
  margin-right: 500px;
}

#indicator2 {
  float: right;
  margin-right: 500px;
}

#indicator3 {
  margin-top: 1050px;
  margin-left: 500px;
}
